@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Kanit|Permanent+Marker');

.App {
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

.App-logo {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 44px;
  width: 120px;
}

.Camp-name {
  font-family: 'Permanent Marker', cursive;
  color: orange;
  font-size: 150px;
}

.Camp-number {
  padding: 0px;
  font-family: 'Permanent Marker', cursive;
  color: orange;
  font-size: 50px;
}

.App-header {
  background-image: url('./assets/header-banner.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 500px;
  padding: 15px;
  font-size: 23px;
}

.App-info b {
  color: orange;
}

.App-all-candidates b {
  color: orange;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

